@model VollyV3.Models.ViewModels.PlatformAdministrator.Opportunities.OpportunityDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div class="padded bg-default-dark">
    <div class="text-right">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
    @if (VollyV3.Data.Opportunity.RequiresOccurrences(Model.OpportunityType))
    {
        <text>
            <br />
            <div class="text-right">
                <a class="btn btn-warning" asp-action="Occurrences" asp-route-id="@Model.Id">Manage occurrences</a>
            </div>
            <br /></text>
    }

    <h2>@Model.Name</h2>
    <small>with @Model.OrganizationName</small>
    <p>@Model.ContactEmail</p>
    <div class="row">
        <div class="col-md-6">
            <div>
                Type: @Model.OpportunityType
            </div>

            <div>
                Location: @Model.Address
            </div>

            <div>
                Category: @Model.Category
            </div>
            <p>
                @Model.Description
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="@Model.ImageUrl" />
        </div>
    </div>
    <br />
    <div class="text-right">
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
    <br />
    <div class="text-right">
        <a class="btn btn-danger" asp-action="Archive" asp-route-id="@Model.Id">Toggle Archived Status</a>
    </div>
    <br />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>