@model VollyV3.Data.Opportunity

@{
    ViewData["Title"] = "Archive Opportunity";
    Layout = "_Layout";
}

<div class="container bg-default-dark padded">
    <section>
        <p>
            Archiving will hide a posting from the public-facing search results. Applications will no longer be accepted.
        </p>
        <p>
            @if (Model.IsArchived)
            {<text>Would you like to <b>unarchive</b>?</text>}
        else
        { <text>Would you like to <b>archive</b>?</text>}
        </p>
    </section>
    <section>
        <h3>@Model.Name</h3>
        <p>@Model.ContactEmail</p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    Type: @Model.OpportunityType
                </div>

                <div>
                    Location: @Model.Address
                </div>
                <p>
                    @Model.Description
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="@Model.ImageUrl" />
            </div>
        </div>
    </section>
    <br />
    <section>
        <form asp-action="Archive">
            <input type="hidden" asp-for="Id" />
            <div class="text-right">
                <input type="submit" value="@if (Model.IsArchived) { <text>Unarchive</text>} else {<text>Archive</text> }" class="btn btn-danger" />
            </div>
            <br />
            <a asp-action="Index">Back to List</a>
        </form>
    </section>
</div>
