@model IEnumerable<VollyV3.Data.VolunteerHours>
@{
    ViewData["Title"] = "Edit your hours";
    Layout = "_Layout";
}

<div class="bg-default-dark padded">
    <div class="text-danger">
        @TempData["Messages"]
    </div>
    <div class="text-right">
        <a class="btn btn-outline-primary"
           asp-area="Identity"
           asp-page="/Account/Manage/Index">Back to your account</a>
    </div>
    <hr />
    <section>
        <table class="table table-hover table-dark full-width">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Opportunity</th>
                    <th>Date + time</th>
                    <th>Hours</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var volunteerHours in Model)
                {
                    <tr>
                        <td>@volunteerHours.OrganizationName</td>
                        <td>@volunteerHours.OpportunityName</td>
                        <td>@volunteerHours.DateTime</td>
                        <td>@volunteerHours.Hours</td>
                        <td>
                            <a asp-action="Delete"
                               asp-route-id="@volunteerHours.Id"
                               class="btn btn-sm btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>