@model VollyV3.Models.ViewModels.PlatformAdministrator.Newsletters.SendViewModel
@{
    ViewData["Title"] = "Newletters";
}

<div class="padded bg-default-dark">
    <div class="text-danger">
        @TempData["Messages"]
    </div>

    <p>
        Here are @Model.Opportunities.Count random opportunities.
    </p>

    <form asp-action="Send" method="post">
        <div class="row">
            <div class="col-6">
                Are you sure you want to send a newsletter with these opportunities to all subscribers?
            </div>
            <div class="row-6">
                <input class="btn-primary btn" type="submit" value="Send" />
            </div>
        </div>
        <br />

        <div class="row form-group">
            <label asp-for="NewsletterSubject"></label>
            <input class="form-control" asp-for="NewsletterSubject" />
        </div>

        <div class="row" style="word-break:break-word;">
            <div class="col-3">
            </div>
            <div class="col-2">
                Organization/contact email
            </div>
            <div class="col-4">
                Description
            </div>
            <div class="col-2">
                Address
            </div>
        </div>

        <div style="word-break:break-word;">
            @foreach (var opportunity in Model.Opportunities)
            {
                <div class="row">
                    <div class="display-none">
                        <input type="checkbox" 
                               checked 
                               name="OpportunityIds" 
                               value="@opportunity.Id" />
                    </div>
                    <div class="col-3">
                        <img src="@opportunity.ImageUrl" />
                    </div>
                    <div class="col-2 mt-auto mb-auto">
                        @opportunity.Organization.Name<br />
                        @opportunity.Organization.ContactEmail
                    </div>
                    <div class="col-4">
                        @opportunity.Description
                    </div>
                    <div class="col-2 mt-auto mb-auto">
                        @opportunity.Address
                    </div>
                </div>
                <br />
            }
        </div>
    </form>
</div>