@model VollyV3.Data.Organization
@{
    ViewData["Title"] = "Manage";
}

<div class="padded bg-default-dark">
    <div class="text-danger">
        @TempData["Messages"]
    </div>
    <a asp-action="Index">Back to list</a><br />
    <h1>@Model.Name</h1>
    Address: @Model.Address <br />
    Email: @Model.ContactEmail <br />
    Phone: @Model.PhoneNumber <br />
    URL: @Model.WebsiteLink <br />
    Created: @Model.CreatedDateTime
</div>