@model IEnumerable<VollyV3.Models.VollyV3User>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="small bg-default-dark">
    <div class="text-danger">
        @TempData["Messages"]
    </div>
    <div class="page-title padded">
        Users
    </div>
    <div class="page-separator"></div>
    <div class="page-content">
        <div class="page-text">
            <table class="table table-text table-hover table-dark">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            Phone number
                        </th>
                        <th>
                            Created
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        @if (item.EmailConfirmed)
                        {
                            <td>
                                @item.NormalizedEmail
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                @item.NormalizedEmail (not confirmed)
                            </td>
                        }
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.CreatedDateTime
                        </td>
                        <td>
                            <a asp-route-id="@item.Id"
                               asp-action="Details">Details</a>@if (item.LockoutEnd != null)
                            {
                                <text> | <a asp-route-id="@item.Id"
                                            asp-action="Unlock">Unlock</a></text>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>